body {
	background-color: #0079cb;
}

.infoCentre {
	width: 400px;
	height: 200px;
	position:absolute;
	margin-top:-100px;
	margin-left:-220px;
	top:50%;
	left:50%;
	
	background-image: url('../Images/info.png');
}

.subejctInfo {
	float: left;
}
.subjectChange {
	position: absolute;
	bottom: 0;
	
	margin-bottom: 10px;
	margin-right: 10px;
	
	color: white;
	font-family: Segoe WP, Segoe UI, Arial;
	font-size: 11px;
}
.copyInfo {
	float: right;
}
.copyData {
	position: absolute;
	bottom: 0;
	
	margin-bottom: 10px;
	margin-left: -200px;
	
	width: 200px;
	height: 50px;
	
	background-image: url('../Images/copy_logo.png');
}